<h1>Welcome To {{title}}</h1>

<h2>
  Addition of 2 no using interpolation   
  {{2+2}}
<br />
  Minus
  {{10-3}}
  <br />
  Multiple
  {{4*8}}
  
  <br />
  Divison
  {{10/2}}
</h2>
  <h3>
    
  Same way you can concat 2 string 
  <br />
  {{'Hello you are now currently learning :' + title}}

  </h3>
  <h3>
    Return length
    <br />
    {{title.length}}
    <br />
    Return UpperCase    <br />
    {{title.toUpperCase()}}
    <br />
    <br />
    Return Our Own Method 
    <br /><br />
    {{greating()}}
  </h3>
  <h2>
    Display Site Url In interpolation
<br />
    <!-- {{window.location.href}}   It will give error-->
    {{siteUrl}}
  </h2>
